*{
    margin: 0;
    overflow: hidden;
}

main{
    display: flex;
    flex-direction: column;
    align-items:  center;
    justify-content: center;
}

.input-grid, .output{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    column-gap: 10px;

}

.input-container{
    position: absolute;
    bottom: 0;
}

.input-grid{
    margin-bottom: 10px;
    align-items: stretch;
}

.jsInput, .do-date, .del-btn {
    font-size: 15px;
    padding: 6px;
    font-size: 16px;
}

.jsInput{
    width: 80%;
}

.add-btn{
    background-color: green;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    padding: 0;
}

.del-btn{
    background-color: darkred;
    padding: 10px 0;
    cursor: pointer;
    font-size: 15px;
    border: none;
    color: white;
}

.error-P{
    color: red;
    text-align: center;
    margin-top: 3rem;
}


/* responsive styles */

